<div class="composition composition--4">

  <div class="composition__header-wrapper">
    <div class="container">
      <div class="middle-align middle-align--mobile-media-below">
        <div class="middle-align__row">
          <div class="composition__header middle-align__col">
            .composition__header
          </div>
          <div class="composition_header-sidebar middle-align__col text-right">
            .composition__header-sidebar
          </div>
        </div>
      </div>
    </div>
    <div class="composition__meta-wrapper">
      <div class="container">
        <div class="composition__meta">
          .composition__meta
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row row-equal-md">
      <div class="composition__content-wrapper col-sm-8">
        <div class="composition__content">
          <div class="row">
            <div class="composition__sidebar-left col-sm-3">
              .composition__sidebar-left
            </div>
            <div class="col-sm-9">
              .composition__content
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="composition__sidebar-right">
          .composition__sidebar-right
        </div>
      </div>
    </div>
  </div>

</div>
