<div class="listing-item">
  <div class="listing-item__column-second">
    <img src="http://placehold.it/200x145" />
  </div>
  <div class="listing-item__column-main">
    <div class="listing-item__text">
      <span class="listing-item__meta">Creation date</span>
      <h3 class="listing-item__title">Featured article name</h3>
      <p>Teaser text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
    </div>
    <div class="listing-item__footer">
      <a href="#" class="btn btn--primary btn--xs pull-right">More information</a>
    </div>
  </div>
</div>
