<nav class="nav-subway">
  <div class="nav-subway__item">
    <div class="nav-subway__station"></div>
    <a href="#" class="nav-subway__divnk">Latest partnering opportunities</a>
  </div>
  <div class="nav-subway__item">
    <div class="nav-subway__station"></div>
    <a href="#" class="nav-subway__divnk">Going international</a>
  </div>
  <div class="nav-subway__item">
    <div class="nav-subway__station"></div>
    <a href="#" class="nav-subway__divnk">Calls</a>
  </div>
  <div class="nav-subway__item">
    <div class="nav-subway__station"></div>
    <a href="#" class="nav-subway__divnk">Events</a>
  </div>
</nav>
