<div class="owl-carousel owl-theme">
  <div><img src="https://placeimg.com/680/320/animals" alt="" /></div>
  <div><img src="https://placeimg.com/680/320/tech" alt="" /></div>
  <div><img src="https://placeimg.com/680/320/nature" alt="" /></div>
</div>

<!-- Load stylesheets -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.theme.default.min.css">
<!-- Load OWL Carousel library (after jQuery) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js"></script>
<!-- Initiate OWL Carousel script -->
<script>
  $(".owl-carousel").owlCarousel({
    loop: true,
    items: 1,
    autoPlay: true,
    nav: true
  });
</script>
