<div class="parallax {$modifiers}">
  <div class="parallax__group">
    <div class="parallax__baselayer parallax__demo-solid">
      <div class="parallax_demo-title">Solid base layer</div>
    </div>
  </div>
  <div class="parallax__group parallax__group--with-backlayer">
    <div class="parallax__baselayer">
      <div class="parallax_demo-title">Transparent base layer</div>
    </div>
    <div class="parallax__backlayer">
      <img class="full-width" src="https://placeimg.com/640/480/nature" />
      <div class="parallax_demo-title">Back layer</div>
    </div>
  </div>
  <div class="parallax__group">
    <div class="parallax__baselayer parallax__demo-solid">
      <div class="parallax_demo-title">Solid base layer</div>
    </div>
  </div>
  <div class="parallax__group">
    <div class="parallax__baselayer parallax__demo-solid">
      <div class="parallax_demo-title">Solid base layer</div>
    </div>
  </div>
</div>
