<nav class="social-links">
  <a href="https://www.facebook.com/" class="social-links__link" target="_blank">
    <i class="icon icon--social-facebook"></i>
  </a>
  <a href="https://twitter.com/" class="social-links__link" target="_blank">
    <i class="icon icon--social-twitter"></i>
  </a>
  <a href="https://plus.google.com/" class="social-links__link" target="_blank">
    <i class="icon icon--social-gplus"></i>
  </a>
  <a href="https://www.linkedin.com/" class="social-links__link" target="_blank">
    <i class="icon icon--social-linkedin"></i>
  </a>
</nav>
