@keyframes donut-chart-spin {
  to {
    transform: rotate(180deg);
  }
}

@keyframes donut-chart-background {
  50% {
    background-color: currentColor;
  }
}

@keyframes dropdown-inner {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

@font-face {
  font-family: 'WAAT Icons';
  src: url("../images/fonts/waat-icons.eot");
  src: url("../images/fonts/waat-icons.eot?#iefix") format("embedded-opentype"), url("../images/fonts/waat-icons.woff") format("woff"), url("../images/fonts/waat-icons.ttf") format("truetype"), url("../images/fonts/waat-icons.svg#icomoon") format("svg");
}

@keyframes modal-overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modal-inner {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes popover-overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes popover-inner {
  0% {
    opacity: 0;
    bottom: 25%;
    transform: scale(0.05) rotate(30deg) rotateX(-90deg);
  }

  50% {
    transform: rotate(-10deg) rotateX(-2deg);
  }

  70% {
    transform: rotate(3deg);
    bottom: 100%;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}