input.pseudo-class-focus,
textarea.pseudo-class-focus,
select.pseudo-class-focus,
option.pseudo-class-focus,
button.pseudo-class-focus {
  background-color: gainsboro;
  border-color: #c8c8c8;
}

input[type="checkbox"].pseudo-class-focus,
input[type="radio"].pseudo-class-focus {
  outline: #c8c8c8 solid 2px;
}

button.pseudo-class-hover,
input[type="button"].pseudo-class-hover,
input[type="submit"].pseudo-class-hover,
input[type="reset"].pseudo-class-hover,
button.pseudo-class-focus,
input[type="button"].pseudo-class-focus,
input[type="submit"].pseudo-class-focus,
input[type="reset"].pseudo-class-focus {
  background-color: #c8c8c8;
  color: inherit;
}

blockquote p.pseudo-class-last-child {
  margin-bottom: 0;
}

a.pseudo-class-hover,
a.pseudo-class-active,
a.pseudo-class-focus,
a a.pseudo-class-visited {
  color: #26435d;
}

.accordion__label.pseudo-class-checked {
  content: '-';
}

#accordion-toggle-1.pseudo-class-checked ~ #accordion-content-1,
#accordion-toggle-2.pseudo-class-checked ~ #accordion-content-2,
#accordion-toggle-3.pseudo-class-checked ~ #accordion-content-3,
#accordion-toggle-4.pseudo-class-checked ~ #accordion-content-4,
#accordion-toggle-4.pseudo-class-checked ~ #accordion-content-5,
#accordion-toggle-4.pseudo-class-checked ~ #accordion-content-6,
#accordion-toggle-4.pseudo-class-checked ~ #accordion-content-7 {
  height: auto;
  opacity: 1;
  padding: 20px 10px 0;
}

.accordion__input.pseudo-class-checked + .accordion__label::after {
  content: '-';
}

.btn.pseudo-class-hover,
button.pseudo-class-hover,
input[type="button"].pseudo-class-hover,
input[type="submit"].pseudo-class-hover,
.btn.pseudo-class-focus,
button.pseudo-class-focus,
input[type="button"].pseudo-class-focus,
input[type="submit"].pseudo-class-focus {
  transition: color 250ms, border-color 250ms, background 250ms;
  color: #fff;
  background-color: #101c27 !important;
  border-color: #101c27;
}

.btn--circle.pseudo-class-hover,
.btn--circle.pseudo-class-focus {
  color: #fff;
  background-color: #101c27 !important;
  border-color: #101c27;
}

.btn--light.pseudo-class-hover,
.btn--light.pseudo-class-focus {
  color: #101c27;
  background-color: #fff !important;
  border-color: #fff;
  font-weight: 500;
}

.btn--primary.pseudo-class-hover,
.btn--primary.pseudo-class-focus {
  color: #4193a9;
  background-color: transparent !important;
  border-color: #4193a9;
  font-weight: 500;
}

.btn--link.pseudo-class-hover,
.btn--link.pseudo-class-focus {
  color: #4193a9;
  background-color: transparent !important;
  border-color: #4193a9;
  text-decoration: underline;
}

.dropdown__link.pseudo-class-hover {
  background-color: #d8d8d8;
}

.dropdown__input.pseudo-class-focus ~ .dropdown__inner {
  display: block;
  transform-origin: top center;
  animation-name: dropdown-inner;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.dropdown__inner.pseudo-class-hover {
  display: block !important;
}

.listing-item.pseudo-class-last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.nav-horizontal__link.pseudo-class-hover {
  color: #4193a9;
}

.nav-vertical__link.pseudo-class-hover {
  padding-left: 10px;
  border-left: 5px solid #4193a9;
  background-color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.popover__input.pseudo-class-focus ~ .popover__overlay {
  display: block;
  animation-name: popover-overlay;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.popover__input.pseudo-class-focus ~ .popover__inner {
  display: block;
  transform-origin: bottom left;
  animation-name: popover-inner;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.popover__inner.pseudo-class-hover,
.popover__inner.pseudo-class-hover + .popover__overlay {
  display: block !important;
}

.social-links__link.pseudo-class-hover {
  color: #4193a9;
  background-color: transparent;
  border: 1px #4193a9 solid;
  border-radius: 50%;
}

.switch__input.pseudo-class-checked + label:before {
  background: #00a651;
  opacity: 1;
}

.switch__input.pseudo-class-checked + label:after {
  left: 29px;
}

#tabs-toggle-1.pseudo-class-checked ~ #tabs-content-1,
#tabs-toggle-2.pseudo-class-checked ~ #tabs-content-2,
#tabs-toggle-3.pseudo-class-checked ~ #tabs-content-3,
#tabs-toggle-4.pseudo-class-checked ~ #tabs-content-4,
#tabs-toggle-5.pseudo-class-checked ~ #tabs-content-5,
#tabs-toggle-6.pseudo-class-checked ~ #tabs-content-6,
#tabs-toggle-7.pseudo-class-checked ~ #tabs-content-7 {
  opacity: 1;
  display: block;
}

.tabs__input.pseudo-class-checked + .tabs__label {
  background-color: #d8d8d8;
}

.timeline__description p.pseudo-class-last-child {
  margin: 0;
}

.timeline__item.pseudo-class-last-of-type .timeline__text {
  border: none;
}

.timeline__item.pseudo-class-last-of-type .timeline__description {
  border: none;
  padding: 0;
}