<div class="dropdown">
  <input class="dropdown__input" id="dropdown-toggle" type="checkbox" name="dropdown" />
  <label class="btn btn--primary dropdown__label" for="dropdown-toggle">
    Open dropdown <i class="icon icon--arrow-bottom"></i>
  </label>
  <div class="dropdown__inner">
    <nav class="dropdown__nav">
      <a href="#" class="dropdown__link">First dropdown link</a>
      <a href="#" class="dropdown__link">Second dropdown link</a>
      <a href="#" class="dropdown__link">Third dropdown link</a>
    </nav>
  </div>
</div>
