<div class="timeline">
  <div class="timeline__item"><div class="timeline__label">Start</div></div>
  <div class="timeline__item"><div class="timeline__label">Page 1</div></div>
  <div class="timeline__item"><div class="timeline__label">Page 2</div></div>
  <div class="timeline__item is-active"><div class="timeline__label">Page 3</div></div>
  <div class="timeline__item"><div class="timeline__label">Page 4</div></div>
  <div class="timeline__item"><div class="timeline__label">Page 5</div></div>
  <div class="timeline__item"><div class="timeline__label">Complete</div></div>
</div>
