<footer class="layout--footer">
  <div class="container">
    <nav class="nav-horizontal text-center">
      <a class="nav-horizontal__link" href="#">Home</a>
      <a class="nav-horizontal__link" href="#">Support</a>
      <a class="nav-horizontal__link" href="#">About</a>
    </nav>
  </div>
</footer>
