<header class="layout--header">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="box">
          <a href="/" class="logo" title="Home"></a>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="box">
          <nav class="nav-horizontal text-right">
            <a class="nav-horizontal__link" href="#">Home</a>
            <a class="nav-horizontal__link" href="#">Support</a>
            <a class="nav-horizontal__link" href="#">About</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
